DATABASE_URL=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Integração n8n
N8N_API_KEY=
N8N_CLINIC_ID=
NEXT_PUBLIC_N8N_WHATSAPP_URL=
N8N_BASE_URL=
N8N_WORKFLOW_ID=
